Pillow==10.3.0
graphdatascience==1.10
pydub==0.25.1
langchain==0.2.16
langchain-community==0.2.12
langchain-core==0.2.41
langchain-openai==0.1.25
langchain-anthropic==0.1.23
streamlit==1.38.0
langchain-chroma==0.1.2
chromadb==0.5.5=
pdfplumber==0.11.4
